.navbar{
    color : black;
}

.img {
    display: block;
    margin: auto;
    width :20vw ;
    height: 35vh ;   
}

.addBorder{
    border: 1px dashed blue;
    border-radius: 0.5;
    height: 50vh;
    font-size: 5vh;
}

body{
    background-image: url('https://previews.123rf.com/images/kittikornphongok/kittikornphongok1505/kittikornphongok150501239/40020517-Colorful-Watercolor-Grunge-texture-background-Soft-background--Stock-Photo.jpg');
}